body {
  background-color: #3a301c;
}

body, input, textarea, td {
  font-family: 'Helvetica Neue Light',Helvetica,Arial,Tahoma,sans-serif;
  font-size: 1.2em;
}

input, textarea {
  margin: 0.2em 2em 1em 0em;
  font-size: 1em;
  padding: 0.2em;
}

#wrapper {
  background-color: #EADEA1;
  border: 0 solid #CCCCCC;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  text-align: left;
}

#header {
  background-color: #3F7696;
  padding: 1em;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}

#content {
  padding: 1em;
}

form {
  margin-top: 1.5em;
  padding-top: 0.5em;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
}

.step-container {
	margin-bottom: 0.75em;
}

.step-dropcap {
  font-size: 2em;
  color: #444444;
  float: left;
}

.step-content {
  vertical-align: bottom;
}
