<html>
  <head>
    <%= yield :head %>
    <%= stylesheet_link_tag 'notiform' %>
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <%= yield :header %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
