<% content_for :header do %>
  CREATE YOUR FORM, FOOL
<% end %>

<!-- consider using dl/dt/dd? or ol/li? -->
<div class="step-container">
  <div class="step-dropcap">Step 1</div>
  <div class="step-content">Create a Wufoo form to track. Add fields and set up form as you would like it to appear to the user.</div>
</div>

<div class="step-container">
  <div class="step-dropcap">Step 2</div>
  <!-- TODO: make this read way more clearly -->
  <div class="step-content">Add a field at the end of the form, set the title to "Notiform Token," and at the bottom of the "Field Settings" form, make sure to set "Add CSS Layout Keywords" to "hide."</div>
</div>

<div class="step-container">
  <div class="step-dropcap">Step 3</div>
  <div class="step-content">Capture the API Key and the form name, and hand it over to us.</div>
</div>


<% form_for :wufoo_form, @wufoo_form, :html => { :id => 'create_wufoo-form' } do |f| %>
  <table id="create" border=0 cellpadding=0 cellspacing=0>
    <tr><td valign="top">
      <div class="field">
        Subdomain<br />
        <%= f.text_field :subdomain, :size => 25 %>
      </div>
      <div class="field">
        Form Hash<br />
        <%= f.text_field :form_name, :size => 25 %>
      </div>
      <div class="field">
        API Key<br />
        <%= f.text_field :api_key, :size => 25 %>
      </div>
    </td><td valign="top">
      <div class="field">
        Recipient Emails<br />
        <%= f.text_area :recipient_emails, :cols => 30, :rows => 6 %>
      </div>
      <input type="button" id="create_wufoo-submit" value="create" />
    </td></tr>
  </table>
<% end %>

Thanks!
